[Unit]
Description=Agenda a validação automática do boot Flavos OS 3.0 M0
ConditionKernelCommandLine=flavos.m0.probe=1

[Timer]
OnActiveSec=4s
AccuracySec=100ms
Unit=flavos-m0-probe.service

[Install]
WantedBy=multi-user.target
